asgiref==3.8.1
creditcard==1.0.2
Django==5.1.2
django-cors-headers==4.7.0
django-credit-cards==0.4.1
django-filter==25.1
django-suit==0.2.28
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
pillow==11.1.0
psycopg==3.2.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyJWT==2.9.0
python-decouple==3.8
sqlparse==0.5.1
typing_extensions==4.13.1
tzdata==2024.2